/* Finalizado */
body{
    background-color: azure;
    border: solid purple
    5px;
}
.ReceitasDaKatia{
    font-size:  60px;
    background-color: purple;
    color: white;
    text-align: center;
}
.PanquecasAmericanas{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 40px;
    color: purple;
}
.Ingredientes{
    background-color: blueviolet;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    text-align: left;
}
.Preparo{
    background-color: blueviolet;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    text-align: left;
}
/* Finalizado */